<h1>Quiz ASU API</h1>
<h2>Here Will be the documentation for public</h2>
<hr/>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>

<h3>Users Authentication<h3></hr>

<table style="width:100%">
<tr>
  	<th>Purpose</th>
  	<th>HTTP Method</th>
  	<th>URL</th>
  	<th>request example</th>
    <th>response example</th>
</tr>

<tr>
    <td>register </br> /sign up</td> 
    <td>POST</td> 
    <td>https://quiz-asu.herokuapp.com/api/users/registrations(.:format) </td> 
    <td>
    	{"user": </br>
    			{"email":"test1@gmail.com",</br>
    			 "username":"test1",</br>
    			 "password":"12345678",</br>
    			 "type":"Instructor"}</br>
    	}</br>
    </td>
    <td>
       {"success":true,</br>
       "info":"Registered",</br>
       "data":{"user":{"id":7,</br>
       "username":"test6",</br>
       "email":"test6@gmail.com",</br>
       "authentication_token":"3jhn-jUE5XRYZwkn1xkk",</br>
       "created_at":"2015-02-11T00:18:15.572Z",</br>
       "updated_at":"2015-02-11T00:18:15.619Z"},</br>
       "auth_token":"3jhn-jUE5XRYZwkn1xkk"}}</br>
    </td>
</tr>

<tr>
    <td>login</br> /session create</td> 
    <td>POST</td> 
    <td>https://quiz-asu.herokuapp.com/api/users/sessions(.:format) </td> 
    <td>
      {"user": </br>
          {"email":"test1@gmail.com",</br>
           "username":"test1",</br>
           "password":"12345678",</br>
           "type":"Instructor"}</br>
      }</br>
    </td>
    <td>
      {"success":true,</br>
      "info":"Logged in",</br>
      "data":{"auth_token":"d_ngp6vmx_LRLC98FwDx",</br>
              "type":"Student","id":4}</br>
      }</br>
    </td>
</tr>

<tr>
    <td>logout</br> /session delete</td> 
    <td>DELETE</td> 
    <td>https://quiz-asu.herokuapp.com/api/users/sessions(.:format) </td> 
    <td>
      {"user": </br>
          {"email":"test1@gmail.com",</br>
           "username":"test1",</br>
           "password":"12345678",</br>
           "type":"Instructor"}</br>
      }</br>
    </td>
    <td>
      Status 204 </br>
      no content
    </td>
</tr>


</table>
<h2>Instructor admin panel<h2></hr>
<h3>Quizzes Manager<h3></hr>
<table style="width:100%">
<tr>
    <th>Purpose</th>
    <th>HTTP Method</th>
    <th>URL</th>
    <th>request example</th>
    <th>response example</th>
</tr>

<tr>
    <td>index/show a list of quizzes </br> related to an instructor</td> 
    <td>GET</td> 
    <td>https://quiz-asu.herokuapp.com/api/quizzes(.:format) </td> 
    <td>
        GET Method together with auth_token and instructor_id as a URL parameter </br></br>
        https://quiz-asu.herokuapp.com/api/quizzes.json?
        auth_token=dngp6vmx_LRLC98FwDx&instructor_id=1
    </td>
    <td>
      [{"id":1,"title":"quiz1","subject":"co"},</br>
      {"id":2,"title":"quiz2","subject":"co"}]
    </td>
</tr>

<tr>
    <td>show all quizzes related to a specific group</td> 
    <td>GET</td> 
    <td>https://quiz-asu.herokuapp.com/api/quizzes(.:format)</td> 
    <td>
        https://quiz-asu.herokuapp.com/api/quizzes.json?</br>
        auth_token=dngp6vmx_LRLC98FwDx&instructor_id=2&group_id=4
    </td>
    <td>
      [{"id":3,"title":"gededed","subject":"sho3'l 3ale"}]
    </td>
</tr>

<tr>
    <td>create a quizzes </br> related to an instructor</td> 
    <td>POST</td> 
    <td>https://quiz-asu.herokuapp.com/api/quizzes(.:format) </td> 
    <td>
        {"quiz":</br>
        {"title":"quiz7",</br>
        "subject":"co",</br>
        "instructor_id":3}</br>
        }</br>
    </td>
    <td>
      {"id":7,"title":"quiz7","subject":"co","description":null,</br>
      "total_score":null,"status":null,"instructor_id":3,</br>
      "created_at":"2015-02-12T01:56:36.108Z",</br>
      "updated_at":"2015-02-12T01:56:36.108Z"}</br>
    </td>
</tr>

<tr>
  <td>update/</br>publish quiz</td>
  <td>PATCH/PUT</td>
  <td>https://quiz-asu.herokuapp.com/api/quizzes/:id(.:format)</td>
  <td>{"quiz":{"group_id":2, "date_to_publish":"1999-01-08",</br>
    "time_to_publish":"04:05:06", "status":true}}</br>
  </td>
  <td>
    {"id":1,"title":"quiz1","subject":"control","description":null,</br>
    "total_score":10,"status":false,"instructor_id":1,</br>
    "created_at":"2015-02-14T01:00:03.282Z","updated_at":"2015-02-14T10:12:25.322Z",</br>
    "date_to_publish":"1999-01-08","time_to_publish":"2000-01-01T04:05:06.000Z"}</br>
  </td>
</tr>

</table>


<h3>question Create/show <h3></hr>
<table style="width:100%">
<tr>
    <th>Purpose</th>
    <th>HTTP Method</th>
    <th>URL</th>
    <th>request example</th>
    <th>response example</th>
</tr>

<tr>
    <td>index/show a list of question</br> related to a quiz</td> 
    <td>GET</td> 
    <td>https://quiz-asu.herokuapp.com/api/questions(.:format) </td> 
    <td>
        GET Method together with auth_token and quiz_id as a URL parameter </br></br>
        https://quiz-asu.herokuapp.com/api/questions.json?
        auth_token=dngp6vmx_LRLC98FwDx&quiz_id=1
    </td>
    <td>
      [{"id":1,"title":"sjadnasjndja?"},</br>
      {"id":2,"title":"sadsadasdasd?"}]
    </td>
</tr>

<tr>
    <td>create a question</br> related to a quiz</td> 
    <td>POST</td> 
    <td>https://quiz-asu.herokuapp.com/api/questions(.:format) </td> 
    <td>
        {"question":</br>
        {"title":"ay so2al?",</br>
        "quiz_id":1}</br>
        }</br>
    </td>
    <td>
      {"id":6,"title":"ay so2al?",</br>
      "quiz_id":3,</br>
      "created_at":"2015-02-12T01:56:36.108Z",</br>
      "updated_at":"2015-02-12T01:56:36.108Z"}</br>
    </td>
</tr>
</table>

<h3>Answer Create/show <h3></hr>
<table style="width:100%">
<tr>
    <th>Purpose</th>
    <th>HTTP Method</th>
    <th>URL</th>
    <th>request example</th>
    <th>response example</th>
</tr>

<tr>
    <td>index/show a list of answers</br> related to a questions</td> 
    <td>GET</td> 
    <td>https://quiz-asu.herokuapp.com/api/answers(.:format) </td> 
    <td>
        GET Method together with auth_token and question_id as a URL parameter </br></br>
        https://quiz-asu.herokuapp.com/api/answers.json?
        auth_token=dngp6vmx_LRLC98FwDx&question_id=1
    </td>
    <td
      [{"id":1,"title":"egaba1"},</br>
      {"id":2,"title":"egaba 2"}]
    </td>
</tr>

<tr>
    <td>create an answer</br> related to a question</td> 
    <td>POST</td> 
    <td>https://quiz-asu.herokuapp.com/api/answers(.:format) </td> 
    <td>
        {"answer":</br>
        {"title":"ay egaba",</br>
        "question_id":1,}</br>
        "correctness":false}</br>
    </td>
    <td>
      {"id":3,"title":"ay egaba",</br>
      "question_id":1,</br>
      "correctness":false,</br>
      "created_at":"2015-02-12T01:56:36.108Z",</br>
      "updated_at":"2015-02-12T01:56:36.108Z"}</br>
    </td>
</tr>

<tr>
    <td>create a right answer</br> related to a question</td> 
    <td>POST</td> 
    <td>https://quiz-asu.herokuapp.com/api/right_answers(.:format) </td> 
    <td>
        {"answer":</br>
        {"title":"ay egaba",</br>
        "question_id":1}</br>
        }</br>
    </td>
    <td>
      {"id":3,"title":"ay egaba",</br>
      "question_id":1,</br>
      "created_at":"2015-02-12T01:56:36.108Z",</br>
      "updated_at":"2015-02-12T01:56:36.108Z"}</br>
    </td>
</tr>
</table>

<h3>Groups Manager<h3></hr>
<table style="width:100%">
<tr>
    <th>Purpose</th>
    <th>HTTP Method</th>
    <th>URL</th>
    <th>request example</th>
    <th>response example</th>
</tr>

<tr>
    <td>index/show a list of groups </br> related to an instructor</td> 
    <td>GET</td> 
    <td>https://quiz-asu.herokuapp.com/api/groups(.:format) </td> 
    <td>
        GET Method together with auth_token and instructor_id as a URL parameter </br></br>
        https://quiz-asu.herokuapp.com/api/groups.json?</br>
        auth_token=dngp6vmx_LRLC98FwDx&instructor_id=1</br>
    </td>
    <td>
      [{"id":1,"group_name":"CSS12","description":null,"number_of_students":100}]
    </td>
</tr>

<tr>
    <td>create a groups </br> related to an instructor</td> 
    <td>POST</td> 
    <td>https://quiz-asu.herokuapp.com/api/groups(.:format) </td> 
    <td>
        {"group":{</br>
        "group_name":"CSS12",</br>
        "number_of_students":100,</br>
        "description":"ay kalam",</br>
        "instructor_id":1}}</br>
    </td>
    <td>
      {"id":1,"group_name":"CSS12",</br>
      "description":null,"number_of_students":100,</br>"created_at":"2015-02-14T18:51:35.749Z",</br>"updated_at":"2015-02-14T18:51:35.749Z","instructor_id":1}
    </td>
</tr>

</table>


<h2>Student admin panel<h2></hr>
<h3>Groups Manager<h3></hr>
<table style="width:100%">
<tr>
    <th>Purpose</th>
    <th>HTTP Method</th>
    <th>URL</th>
    <th>request example</th>
    <th>response example</th>
</tr>

<tr>
    <td>index/show all groups </td> 
    <td>GET</td> 
    <td>https://quiz-asu.herokuapp.com/api/groups(.:format) </td> 
    <td>
        GET Method together with auth_token and student_id as a URL parameter </br></br>
        https://quiz-asu.herokuapp.com/api/groups.json?</br>
        auth_token=dngp6vmx_LRLC98FwDx&student_id=1</br>
    </td>
    <td>
      [{"id":1,"group_name":"CSS12",</br>"description":null,"number_of_students":100}]
    </td>
</tr>

<tr>
    <td>index/show all memberships</br> JOINED groups </td> 
    <td>GET</td> 
    <td>https://quiz-asu.herokuapp.com/api/memberships(.:format) </td> 
    <td>
    http://localhost:3000/api/memberships.json?</br>auth_token=2o6vThR58T1_5X662sWv&student_id=3
    </td>
    <td>
      [{"id":1,"group_name":"CSS12",</br>"description":null,"number_of_students":100}]
    </td>
</tr>


<tr>
    <td>create membership/join group</td> 
    <td>POST</td> 
    <td>https://quiz-asu.herokuapp.com/api/memberships(.:format)</td> 
    <td>
        http://localhost:3000/api/memberships.json?</br>auth_token=2o6vThR58T1_5X662sWv</br></br>
        {"membership":{</br>
          "student_id":3,</br>
          "group_id":1,</br>
          "status":true}}</br>
    </td>
    <td>
      {"id":2,"status":true,</br>"created_at":"2015-02-14T17:47:52.053Z",</br>
      "updated_at":"2015-02-14T17:47:52.053Z"}</br>
    </td>
</tr>


<tr>
    <td>delete membership </br> leave group</td> 
    <td>DELETE</td> 
    <td>https://quiz-asu.herokuapp.com/api/memberships/:id(.:format)</td> 
    <td>
      https://quiz-asu.herokuapp.com/api/memberships/1.json
    </td>
    <td>
      status 204 no content
    </td>
</tr>


<tr>
    <td>update membership/</br> not stable now</td> 
    <td>PATCH/PUT</td> 
    <td>https://quiz-asu.herokuapp.com/api/memberships/:id(.:format)</td> 
    <td>
        http://localhost:3000/api/memberships/3.json?</br>auth_token=2o6vThR58T1_5X662sWv</br></br>
        {"membership":{</br>
          "student_id":3,</br>
          "group_id":1,</br>
          "status":false}}</br>
    </td>
    <td>
      {"id":2,"status":false,</br>"created_at":"2015-02-14T17:47:52.053Z",</br>
      "updated_at":"2015-02-14T17:47:52.053Z"}</br>
    </td>
</tr>

</table>



<h3>Quizzes Manager<h3></hr>
<table style="width:100%">
<tr>
    <th>Purpose</th>
    <th>HTTP Method</th>
    <th>URL</th>
    <th>request example</th>
    <th>response example</th>
</tr>

<tr>
    <td>index/show all assignments</br> my quizzes </td> 
    <td>GET</td> 
    <td>https://quiz-asu.herokuapp.com/api/assignments(.:format) </td> 
    <td>
        http://localhost:3000/api/assignments.json?</br>auth_token=xhFviKcEGdFfFV4kkaiD&student_id=3
    </td>
    <td>
      [{"id":3,"title":"gededed","status":true,"subject":"sho3'l </br>3ale","description":null,"total_score":5,</br>"date_to_publish":"1999-01-08","time_to_publish":"2000-01-01T04:05:06.</br>000Z","duration":null},</br>{"id":3,"title":"gededed","status":true,"subject":"sho3'l </br>3ale","description":null,</br>"total_score":5,"date_to_publish":"1999-01-08",</br>"time_to_publish":"2000-01-01T04:05:06.000Z","duration":null}]
    </td>
</tr>

<tr>
    <td>retrieve quiz/ questions/answers</br> take quiz </td> 
    <td>GET</td> 
    <td>https://quiz-asu.herokuapp.com/api/quizzes/:id(.:format)</td> 
    <td>
    http://localhost:3000/api/quizzes/1.json?</br>auth_token=mozpG7bDozJmcda7P_Z4
    </td>
    <td>
      {"id":1,"title":"projectswt","subject":"software",</br>"description":null,"questions":[{"id":1,"title":"ay so2al?",</br>"add_answers":[{"id":1,"title":"ay ekaba?","correctness":false},</br>{"id":4,"title":"ay ekabaawqa","correctness":false},</br>{"id":2,"title":"ay ekabaaa","correctness":false},</br>{"id":3,"title":"ay ekabaaa","correctness":true}]},</br>{"id":2,"title":"ay so2al2?","add_answers":[]},</br>{"id":3,"title":"ay so2al3?","add_answers":[]},</br>{"id":4,"title":"ay so2al4?","add_answers":[]},</br>{"id":5,"title":"ay so2al5?","add_answers":[]}]}
    </td>
</tr>


<tr>
    <td>post all answers of a quiz</td> 
    <td>POST</td> 
    <td>https://quiz-asu.herokuapp.com/api/students_answers(.:format)</td> 
    <td>
        
    </td>
    <td>

    </td>
</tr>

</table>
